body{
    background-color: #ededed;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    width: 100%;
    height: 95vh;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: #000;
}
.judul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.judul img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 50%;
}
.introduction{
    padding: 10px 20px;
    width: 50%;
    margin: auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-family: "Poppins";
}
.introduction h1{
    font-size: 2em;
    font-weight: bold;
}

.introduction ul{
    list-style: none;
    padding: 0;
}
.introduction ul li{
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.iconify{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}